<div class="row">
    <div class="col-md-12">
        <div class="content_title">
            <div class="content_title_left" *ngIf="filterValue === ''">
                <h2 *ngIf="approvalCount.length">Document Approvals ({{approvalCount.length}})</h2>
                <h2 *ngIf="!approvalCount.length">Document Approvals</h2>
            </div>
            <div class="content_title_left" *ngIf="filterValue !== ''">
                <h2>Document Approvals (Filtered List)</h2>
            </div>
            <div class="content_title_right">
                <div class="search_box">
                    <input type="text" placeholder="Search for document approvals" [(ngModel)]="filterValue" (keydown.enter)="$event.preventDefault();"> <img *ngIf="!filterValue" [src]="'images/search.png' | updateImageURL" alt="Image" class="search_icon">                    <span *ngIf="filterValue">
                      <a class="upload-cross" href="javascript:void(0)" (click)="clearSearch()">
                        <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
                      </a>
                    </span> </div>
                <!-- <div class="content_title_btn">
          <a href="javascript:void(0);" class="btn v2" (click)="exportToCSV();">
            <fa-icon class="mr-2" [icon]="['fas', 'upload']"></fa-icon> Export</a>
        </div> --></div>
        </div>
    </div>
    <div class="col-md-9 text-left left-tabs-documents-approval py-5">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs-document mt-0">
            <li [ngbNavItem]="1" [destroyOnHide]="true"> <a ngbNavLink>Received</a>
                <ng-template ngbNavContent> </ng-template>
            </li>
            <li [ngbNavItem]="2"> <a ngbNavLink>Sent</a>
                <ng-template ngbNavContent> </ng-template>
            </li>
            <li [ngbNavItem]="3"> <a ngbNavLink>History</a>
                <ng-template ngbNavContent let-active> </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    <div class="col-lg-3 col-md-3 text-right py-5" *ngIf="active === 3">
        <div class="form-group inline_label_switch inline_switch_left" style="margin-top: 14px">
            <div class="notif_switch">
                <div class="switch_wrap" stylep="padding-top: 12px">
                    <label class="switch v3">
						<input aria-label="Sent or received toggle button" type="checkbox" name="historyToggleSwitch" [(ngModel)]="historyToggleSwitch"> <span class="slider round_box"></span> </label>
                </div>
            </div>
            <p class="input_title" style="margin-top: 4px">Received/Sent</p>
        </div>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-md-12">
        <div class="approval_table notification_table_cs">
            <div class="approval_table_header">
                <div class="approval_table_header_item">
                    <p>RequestedDate</p>
                </div>
                <div class="approval_table_header_item">
                    <p>DueDate</p>
                </div>
                <div class="approval_table_header_item">
                    <p>DocumentType</p>
                </div>
                <div class="approval_table_header_item">
                    <p>Status</p>
                </div>
                <div class="approval_table_header_item">
                    <p style="padding-right: 2rem;">Document</p>
                </div>
                <div class="approval_table_header_item">
                    <p>RequestedBy</p>
                </div>
            </div>
            <div class="approval_table_data pointer" *ngFor="let approvalDoc of documentApprovalArray | sortAndFilterObjectsForActivities: filterValue: filterFn.bind(this); index as k">
                <div>
                    <div class="approval_table_data_item">
                        <p>{{approvalDoc.RequestedDate | ap3Date:'mediumDate'}}</p>
                    </div>
                    <div class="approval_table_data_item">
                        <p>{{approvalDoc.DueDate | ap3Date:'mediumDate'}}</p>
                    </div>
                    <div class="approval_table_data_item">
                        <p>{{approvalDoc.Title}}</p>
                    </div>
                    <div class="approval_table_data_item" style="padding-left: 10px;">
                        <span>{{approvalDoc.Status}}
                            <div class="doc-drop" *ngIf="active === 1 || active === 2">
<!--                                <div class="dropdown attach-drop doc-attach" (click)="toggleEllipsisStatus(k)" [ngClass]="toggleEllipsisClassStatus[k] === true ? 'open' : ''">-->
<!--                                    <a class="dropdown-toggle text-light"></a>-->
<!--                                    <div class="dropdown-menu mr-3">-->
<!--                                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeStatus_FN_Approver(approvalDoc, 'Approved')" *ngIf="active === 1">Approve</a>-->
<!--                                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeStatus_FN_Approver(approvalDoc, 'Rejected')" *ngIf="active === 1">Reject</a>-->
<!--                                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeStatus_FN_Requestor(approvalDoc, 'Cancel')" *ngIf="active === 2 && approvalDoc.CanCancel">Cancel</a>-->
<!--                                    </div>-->
<!--                                </div>-->

                              <div appToggleFocus class="sub_dropdown" style="display: initial">
                            <fa-icon class="pointer" [icon]="['fas', 'ellipsis-v']"></fa-icon>
                            <ul class="sub_dropdown_menu" style="width: 140px; opacity: 0; z-index: 67; visibility: hidden; position: absolute; background: white; padding: 0px 10px; border: 1px solid; left: 8px; top: 3px; text-align: left;">
                                <li style="line-height: 20px;" (click)="changeStatus_FN_Approver(approvalDoc, 'Approved')" *ngIf="active === 1">
                                    <a href="javascript:void(0);">Approve</a>
                                </li>
                                <li style="line-height: 20px;" (click)="changeStatus_FN_Approver(approvalDoc, 'Rejected')" *ngIf="active === 1">
                                      <a href="javascript:void(0);">Reject</a>
                                </li>
                                <li style="line-height: 20px;" (click)="changeStatus_FN_Requestor(approvalDoc, 'Cancel')" *ngIf="active === 2 && approvalDoc.CanCancel">
                                      <a href="javascript:void(0);">Cancel</a>
                                </li>
                            </ul>
                        </div>
                            </div>
                        </span>
                    </div>
                    <div class="approval_table_data_item" style="text-align: left;">
                        <!--div>style="padding-left: 3rem;">-->
                        <span class="view-doc"><a target="_blank" [href]="getDownloadLink(approvalDoc.DocumentLink)" class="doc-view doc-view-1">{{approvalDoc.DocumentName}}</a>
                            <div class="doc-drop">
<!--                                <div class="dropdown attach-drop doc-attach" (click)="toggleEllipsisViewDoc(k)" [ngClass]="toggleEllipsisClassViewDoc[k] === true ? 'open' : ''">-->
<!--                                    <a class="dropdown-toggle text-light"></a>-->
<!--                                    <div class="dropdown-menu mr-3">-->
<!--                                        <a class="dropdown-item" href="javascript:void(0)" (click)="viewProject(approvalDoc)">View project</a>-->
<!--                                        <a class="dropdown-item" href="javascript:void(0)" (click)="viewApprovalStatus(approvalDoc)" *ngIf="documentApprovalStatusMap[approvalDoc.DocumentName] && active === 2">View Approval Status</a>-->
<!--                                    </div>-->
<!--                                </div>-->
                              <div appToggleFocus class="sub_dropdown" style="display: initial">
                            <fa-icon class="pointer" [icon]="['fas', 'ellipsis-v']"></fa-icon>
                            <ul class="sub_dropdown_menu" style="width: 140px; opacity: 0; z-index: 67; visibility: hidden; position: absolute; background: white; padding: 0px 10px; border: 1px solid; left: 8px; top: 3px; text-align: left;">
                                <li style="line-height: 20px;" (click)="viewProject(approvalDoc)">
                                    <a href="javascript:void(0);">View Project</a>
                                </li>
                                <li style="line-height: 20px;" (click)="viewApprovalStatus(approvalDoc)" *ngIf="documentApprovalStatusMap[approvalDoc.DocumentName] && active === 2">
                                      <a href="javascript:void(0);">View Approval Status</a>
                                </li>
                            </ul>
                        </div>

                            </div>
                        </span>
                    </div>
                    <div class="approval_table_data_item">
                        <p>{{approvalDoc.RequestedBy}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-pagination [itemsPerPage]="paginationParams.itemsPerPage" (itemsPerPageChange)="updateItemsPerPage($event)" [currentPageIndex]="paginationParams.currentPage" (currentPageIndexChange)="updateCurrentPageIndex($event)" [collectionSize]="paginationParams.itemCount"></app-pagination>
