<div class="modal-header attachment-modal-header">
  <h4 class="modal-title" style="margin: auto">Create a Document</h4>
  <button type="button" aria-label="Create a Document close dialog box icon" style="position: absolute;right: 1rem;top: 1rem;" class="close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body attachment-modal-body" [ngClass]="{spinner: showLoader}">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <form name="attachment_modal_form" (ngSubmit)="submitModalForm()" #myform="ngForm">
        <div class="form-row">
          <div class="form-group col-sm-12">
            <div class="row">
              <div class="form-group col-sm-5">
                <label class="mb-0">Use Existing Template</label>
              </div>

              <div class="form-group col-sm-7">
<!--                <ng-select placeholder="" [clearable]="false" [searchable]="false" aria-label="Use Existing Template" class="dropdown_select activity_dropdown create-activity-title" name="ExistingTemplate" [(ngModel)]="fileUploadObj.Template" (ngModelChange)="changeExistingTemplate(fileUploadObj.Template)">-->
<!--                  <ng-option [value]="category" *ngFor="let category of documentCategoryArr">-->
<!--                    {{category}}-->
<!--                  </ng-option>-->
<!--                </ng-select>-->

                <ul id="menu">
                  <li class="parent">
                    <!--                                  <a href="#">Activity Type</a>-->
                    <button type="button" #activityTypeBtn (click)="categoryDropDown()">{{fileUploadObj.Template || 'Select Document Template'}}</button>
                    <ul id="createDocDropOptions" style="display: none" class="child">
                      <li class="parent" *ngFor="let wCat of this.data.groupAttachDocNamesByWorkCategory | keyvalue;  let i = index">
                        <a href="javascript:void(0)">{{wCat.key}}<span class="expand">»</span>
                        </a>
                        <ul class="child">
                          <li *ngFor="let docName of wCat.value;  let j = index">
                            <a href="javascript:void(0)" nowrap (click)="selectDocNameFromNestedWorkCategories($event, fileUploadObj)">{{docName.Title}}</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-12">
            <div class="row">
              <div class="form-group col-sm-5">
                <label class="required">Title</label>
              </div>
              <div class="form-group col-sm-7">
                <input type="text" aria-label="Enter document title" required='true' name="Title" [(ngModel)]="fileUploadObj.Title" autocomplete="off">
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-12">
            <div class="row">
              <div class="form-group col-sm-5">
                <label class="mb-0 required">Format</label>
              </div>

              <div class="form-group col-sm-7">
                <ng-select placeholder="" aria-label="Format" required="true" class="dropdown_select activity_dropdown create-activity-title" name="Format" [(ngModel)]="fileUploadObj.Format" [disabled]="fileUploadObj.Template !== 'N/A'">
                  <ng-option [value]="format" *ngFor="let format of docFileFormats">
                    {{format}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-12">
            <div class="row">
              <div class="form-group col-sm-5">
                <label>Version Comments</label>
              </div>
              <div class="form-group col-sm-7">
                <input type="text" aria-label="Version comments text input" name="Version_Comment" [(ngModel)]="fileUploadObj.Version" autocomplete="off">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer attachment-modal-footer">
          <button type="button" style="width: 100%;" class="btn btn-outline-dark" (click)="cancel()">Cancel</button>
          <button style="width: 100%;" class="btn btn-outline-dark footer-submit-btn" [disabled]="!myform.form.valid" [ngClass]="!myform.form.valid ? 'footer-submit-btn-disabled' : 'footer-submit-btn'">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>
