<div class="row">
    <div class="col-md-12">
        <div class="content_title">
            <div class="content_title_left">
                <h2>Acquisition Planning Overview</h2>
            </div>
            <div class="content_title_right">
                <div class="search_box">
                    <input [(ngModel)]="searchVal" type="text" placeholder="Search templates and tutorials" (input)="filterData($event)">
                    <img [src]="'images/search.png' | updateImageURL" alt="Image" class="search_icon">
                    <span *ngIf="searchVal">
                    <a class="upload-cross" href="javascript:void(0)" (click)="clearSearch()">
                      <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
                    </a>
                  </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="contract_wrap">
            <div class="contract_modification_content">
                <p *ngIf="overviewText.length > 0" [innerHTML]="overviewText">
                </p>
                <div class="col-lg-12 urlUnderline" style="padding-top: 2rem; padding-bottom: 0px; margin-bottom: 0px">
                    <div *ngIf="showSlider" class="activity-tab-carousel">
                        <!-- <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
                        <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button> -->
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigBar">
                            <div ngxSlickItem *ngFor="let item of workCategoryArr;" class="slide {{getClassName(item)}}">
                                <div class="phases">
                                    <a href="javascript:void(0)" (click)="goToResource(item)">
                                        <span class="text-cs">{{item}}</span>
                                    </a>
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <div class="content_title v4">
            <div class="content_title_left">
                <h2>Templates</h2>
            </div>
            <div class="content_title_right">
                <!--                <a href="javascript:void(0);" (click)="viewAllTemplates()" class="link v1">See All<i class="fas fa-arrow-right"></i></a>-->
            </div>
        </div>
    </div>
</div>

<div class="scrollable_wrap template-carousel-cs" *ngIf="showSlider">
    <span class="slickprev slick-arrow" *ngIf="templateArr.length > 4" (click)="slickTemplatePreviousBtn()">
    <fa-icon [icon]="['fas', 'angle-left']"></fa-icon>
  </span>
    <span class="slicknext slick-arrow" *ngIf="templateArr.length > 4" (click)="slickTemplateNextBtn()">
    <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
  </span>
    <ngx-slick-carousel class="carousel" #templateSlickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let template of templateArr" class="slide">
            <div *ngIf="templateArr.length" class="template_item">
                <div class="tutorial_item v4">
                    <div class="tutorial_title">
                        <a href="javascript:void(0);">{{template.Title}}</a>
                        <p class="tutorial_brief">{{template.Body}}</p>
                        <a [href]="template.DocPath" download class="btn v6" style="background: #004990;" *ngIf="template.IsDocumentTutorial == true">Download Template</a>
                    </div>

                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <div class="content_title v4">
            <div class="content_title_left">
                <h2>Tutorials</h2>
            </div>
            <div class="content_title_right">
                <!--                <a href="javascript:void(0);" (click)="viewAllTutorials()" class="link v1">See All<i class="fas fa-arrow-right"></i></a>-->
            </div>
        </div>
    </div>
</div>

<div class="scrollable_wrap template-carousel-cs" *ngIf="showSlider">
    <span class="slickprev slick-arrow" *ngIf="tutorialsArr.length > 4" (click)="slickTutorialPreviousBtn()">
    <fa-icon [icon]="['fas', 'angle-left']"></fa-icon>
  </span>
    <span class="slicknext slick-arrow" *ngIf="tutorialsArr.length > 4" (click)="slickTutorialNextBtn()">
    <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
  </span>
    <ngx-slick-carousel class="carousel" #tutorialsSlickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let tutorial of tutorialsArr" class="slide">
            <div class="tutorials_item" [ngClass]="tutorial.IsDocumentTutorial == true ? ' tutorials_item_new' : ''">
                <div class="tutorial_video" *ngIf="tutorial.IsDocumentTutorial == null || tutorial.IsDocumentTutorial == false">
                    <img [src]="'images/video_2.png' | updateImageURL" alt="Image" />
                    <a href="{{tutorial.YoutubeUrl}}" target="_blank" class="video_btn"><img [src]="'images/play.png' | updateImageURL" alt="Image" /></a>
                </div>
                <div class="tutorial_title" *ngIf="tutorial.IsDocumentTutorial == null || tutorial.IsDocumentTutorial == false">
                    <a href="javascript:void(0);">{{tutorial.Title}}</a>
                </div>
                <div class="tutorial_title" *ngIf="tutorial.IsDocumentTutorial == true">
                    <a href="javascript:void(0);" style="text-align: center">{{tutorial.Title}}</a>
                    <p class="tutorial_brief">{{tutorial.Body}}</p>
                    <a [href]="tutorial.DocPath" download class="btn v6" *ngIf="tutorial.IsDocumentTutorial == true">Start Tutorial</a>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>


<!-- <div class="row mt-4">
    <div class="col-md-12">
        <div class="content_title v4">
            <div class="content_title_left">
                <h2>Templates</h2>
            </div>
            <div class="content_title_right">
                <a href="javascript:void(0);" (click)="viewAllTemplates()" class="link v1">See All<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4 pt-2 scrollable_wrap" *ngIf="showSlider">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem class="col-xl-3 col-lg-3 col-md-3 col-12 mb-25" *ngFor="let template of templateArr">
            <div class="tutorial_item v4">
                <div class="tutorial_title">
                    <a href="javascript:void(0);">{{template.Title}}</a>
                    <p class="tutorial_brief">{{template.Body}}</p>
                    <a [href]="template.DocPath" download class="btn v6" *ngIf="template.IsDocumentTutorial == true">Download Template</a>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>

<div class="row mt-5" style="margin-top: 0px">
    <div class="col-md-12">
        <div class="content_title v4">
            <div class="content_title_left">
                <h2>Tutorials</h2>
            </div>
            <div class="content_title_right">
                <a href="javascript:void(0);" (click)="viewAllTutorials()" class="link v1">See All<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4 pt-2 scrollable_wrap" *ngIf="showSlider">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem class="col-xl-3 col-lg-3 col-md-3 col-12 mb-25" *ngFor="let tutorial of tutorialsArr">
            <div class="tutorial_item itemWithDesc" [ngClass]="tutorial.IsDocumentTutorial ? 'docItem v4 mgB-25' : 'v3'">
                <div class="tutorial_video" *ngIf="tutorial.IsDocumentTutorial == null || tutorial.IsDocumentTutorial == false">
                    <img [src]="tutorial.ImagePath" alt="Image">
                    <a href="{{tutorial.YoutubeUrl}}" target="_blank" class="video_btn"><img [src]="'images/play.png' | updateImageURL" alt="Image"></a>
                </div>
                <div class="tutorial_title tutorial_desc_title" *ngIf="tutorial.IsDocumentTutorial == null || tutorial.IsDocumentTutorial == false">
                    <a href="javascript:void(0);">{{tutorial.Title}} </a>
                    <p class="tutorial_brief tutorial_desc">{{tutorial.Body}}</p>
                </div>

                <div class="tutorial_title" *ngIf="tutorial.IsDocumentTutorial == true">
                    <a href="javascript:void(0);">{{tutorial.Title}}</a>
                    <p class="tutorial_brief">{{tutorial.Body}}</p>
                </div>
                <a [href]="tutorial.DocPath" download class="btn v6" *ngIf="tutorial.IsDocumentTutorial == true">Download Tutorial</a>
            </div>
        </div>
    </ngx-slick-carousel>
</div> -->