<!-- <div class="row">
    <div class="col-md-12">
        <div class="content_title">
            <div class="content_title_left">
                <h2>Document Templates</h2>
            </div>
            <div class="content_title_right">
                <div class="search_box">
                    <input type="text" placeholder="Search templates" [(ngModel)]="filterValue" (keydown.enter)="$event.preventDefault();">
                    <img [src]="'images/search.png' | updateImageURL" alt="Image" class="search_icon">
                    <span *ngIf="filterValue">
                      <a class="upload-cross" href="javascript:void(0)" (click)="clearSearch()">
                          <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
                      </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-md-12">
        <div class="content_title">
            <div class="content_title_left">
                <h2>Document Templates ({{templatesArr.length}})</h2>
            </div>
            <div class="content_title_right">
                <div class="btn v8 searchSec">
                    <input type="text" placeholder="Search templates" [(ngModel)]="filterValue" (keydown.enter)="$event.preventDefault();">
                    <img [src]="'images/search.png' | updateImageURL" alt="Image" class="search_icon">
                    <span *ngIf="filterValue">
                      <a class="upload-cross" href="javascript:void(0)" (click)="clearSearch()">
                          <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
                      </a>
                    </span>
                </div>
                <div class="content_title_btn">
                    <a href="javascript:void(0);" class="btn v2" (click)="exportToCSV();">
                        <fa-icon class="mr-2" [icon]="['fas', 'upload']"></fa-icon> Export</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row py-5">
    <div class="col-md-8 col-lg-8">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="work_Category" (change)="selectCategoryFN()">
            <label ngbButtonLabel [ngClass]="work_Category == 'All' ? 'tabBtnActive':'tabBtn'" class="btn-primary">
                <input ngbButton type="radio" value="All"> All
            </label>
            <label ngbButtonLabel [ngClass]="work_Category == 'Requirements Development' ? 'tabBtnActive':'tabBtn'" class="btn-primary">
                <input ngbButton type="radio" value="Requirements Development"> Requirements Development
            </label>
            <label ngbButtonLabel [ngClass]="work_Category == 'Market Research' ? 'tabBtnActive':'tabBtn'" class="btn-primary">
                <input ngbButton type="radio" value="Market Research"> Market Research
            </label>
            <label ngbButtonLabel [ngClass]="work_Category == 'Develop Acquisition Plan' ? 'tabBtnActive':'tabBtn'" class="btn-primary">
                <input ngbButton type="radio" value="Develop Acquisition Plan"> Develop Acquisition Plan
            </label>
            <label ngbButtonLabel [ngClass]="work_Category == 'Procurement Request Package' ? 'tabBtnActive':'tabBtn'" class="btn-primary">
                <input ngbButton type="radio" value="Procurement Request Package"> Procurement Request Package
            </label>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 right" style="float: right; text-align: right;">
        <span class="input_title">View in list mode?</span>
        <label class="switch ml-4" style="vertical-align: sub">
            <input type="checkbox" aria-label="View in list mode?" name="view_Template_List" [(ngModel)]="view_Template_List">
            <span class="slider round_box"></span>
        </label>
    </div>
</div>
<div *ngIf="view_Template_List">
    <div class="row">
        <div class="col-md-12">
            <div class="custom_table_header">
                <div class="col" [ngStyle]="{'textAlign': i===0 ? 'left': 'inherit'}" *ngFor="let column of columnNames; index as i;">
                    <span class="pointer " (click)="sortTableBy(column.av);">{{column.dv}}
                        <fa-icon *ngIf="sortBy !== column.av"[icon]="['fas', 'sort']"></fa-icon>
                        <fa-icon *ngIf="sortBy === column.av && reverse" [icon]="['fas', 'sort-up']"></fa-icon>
                        <fa-icon *ngIf="sortBy === column.av && !reverse" [icon]="['fas', 'sort-down']"></fa-icon>
                    </span>
                </div>
                <div class="col" style="text-align: center;">
                    Actions
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="custom_table_row" style="margin-top: 6px" *ngFor="let template of templatesArr | sortFilterPaginate: filterByFields: filterValue:sortBy:reverse:true: paginationParams; index as i">
                <div class="custom_table_row" style="margin-top: 6px">
                    <div class="col" [ngStyle]="column.columnStyle" *ngFor="let column of columnNames">
                        <span>{{template[column.av]}}</span>
                    </div>
                    <div class="col card_header_right">
                        <div appToggleFocus class="sub_dropdown" style="display: initial">
                            <fa-icon class="pointer" [icon]="['fas', 'ellipsis-v']"></fa-icon>
                            <ul class="sub_dropdown_menu" style="width: 92px; opacity: 0; z-index: 67; visibility: hidden; position: absolute; background: white; padding: 0px 10px; border: 1px solid; left: 50%; top: 3px; text-align: left;">
                                <li style="line-height: 20px;">
                                    <a [href]="template.DocPath" *ngIf="template.IsDocumentTutorial == true">Download</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!view_Template_List">
    <div class="row mt-4 pt-2">
        <div class="col-xl-3 col-lg-3 col-md-3 col-12 mb-25" *ngFor="let template of templatesArr | sortFilterPaginate: filterByFields: filterValue:sortBy:reverse:true: paginationParams; index as i">
            <div class="tutorial_item v4">
                <div class="tutorial_title">
                    <a href="javascript:void(0);">{{template.Title}}</a>
                    <p class="tutorial_brief">{{template.Body}}</p>
                </div>
                <a [href]="template.DocPath" download class="btn v6" *ngIf="template.IsDocumentTutorial == true">Download Template</a>
            </div>
        </div>
    </div>
</div>

<app-pagination [itemsPerPage]="paginationParams.itemsPerPage" (itemsPerPageChange)="updateItemsPerPage($event)" [currentPageIndex]="paginationParams.currentPage" (currentPageIndexChange)="updateCurrentPageIndex($event)" [collectionSize]="paginationParams.itemCount"></app-pagination>

<!-- <div class="row mt-4 pt-2">
    <div class="col-xl-3 col-lg-3 col-md-3 col-12 mb-25" *ngFor="let template of templatesArr | sortFilterPaginate: filterByFields: filterValue:sortBy:reverse:true: paginationParams; index as i">
        <div class="tutorial_item v4">
            <div class="tutorial_title">
                <a href="javascript:void(0);">{{template.Title}}</a>
                <p class="tutorial_brief">{{template.Body}}</p>
            </div>
            <a [href]="template.DocPath" download class="btn v6" *ngIf="template.IsDocumentTutorial == true">Download Template</a>
        </div>
    </div>
</div>
<app-pagination [itemsPerPage]="paginationParams.itemsPerPage" (itemsPerPageChange)="updateItemsPerPage($event)" [currentPageIndex]="paginationParams.currentPage" (currentPageIndexChange)="updateCurrentPageIndex($event)" [collectionSize]="paginationParams.itemCount"></app-pagination> -->

<!-- <div class="row">
    <div class="col-xl-9 col-lg-12">
        <div class="box_title">
            <h2>Document Templates</h2>
        </div>
    </div>
    <div class="col-xl-3 col-lg-12 text-right">
        <div class="search_box_wrap v2 flexend">
            <div class="content_title_right">
                <div class="search_box">
                    <input type="text" placeholder="Search templates" [(ngModel)]="filterValue" (keydown.enter)="$event.preventDefault();">
                    <img [src]="'images/search.png' | updateImageURL" alt="Image" class="search_icon">
                    <span *ngIf="filterValue">
                      <a class="upload-cross" href="javascript:void(0)" (click)="clearSearch()">
                          <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
                      </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 pt-2">
        <div class="col-xl-3 col-lg-3 col-md-3 col-12 mb-25" *ngFor="let template of templatesArr | sortFilterPaginate: filterByFields: filterValue:sortBy:reverse:true: paginationParams; index as i">
            <div class="tutorial_item v4">
                <div class="tutorial_title">
                    <a href="javascript:void(0);">{{template.Title}}</a>
                    <p class="tutorial_brief">{{template.Body}}</p>
                </div>
                <a [href]="template.DocPath" download class="btn v6" *ngIf="template.IsDocumentTutorial == true">Download Template</a>
            </div>
        </div>
    </div>
    <app-pagination [itemsPerPage]="paginationParams.itemsPerPage" (itemsPerPageChange)="updateItemsPerPage($event)" [currentPageIndex]="paginationParams.currentPage" (currentPageIndexChange)="updateCurrentPageIndex($event)" [collectionSize]="paginationParams.itemCount"></app-pagination> -->
